*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --lg-lightcolor: linear-gradient(to left,rgba(116,235,213,0.6),rgba(159,172,230,0));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}
body{
    background: var(--lg-lightcolor);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}
.container{
    background-color: white;
    border-radius: 10px;
   overflow: hidden;
   width: calc(100vw - 65vw);
   max-width: 100%;
}
.header{
    background: var(--lg-color);
    padding: 20px;
}
.header h2{
    color: #222;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.form{
   padding: 40px; 
}
.form-control{
    margin-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    padding: 12px;
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.error input{
    border-color: red;
}

.form-control.success input{
    border-color: green;
}
.form-control i{
    position: absolute;
    right: 12px;
    top: 38px;
    visibility: hidden;
}
.form-control.success i.fa-circle-check{
    color: green;
    visibility: visible;
}
.form-control.error i.fa-circle-exclamation{
    color:red ;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    color: red;
    left: 0;
}
.form-control.error small{
    visibility: visible;
}
.form-control.success input{
    border-color: green;
}
.form .btn{
    background: var(--lg-color);
    border-radius: 6px;
    color: white;
    border: none;
    padding: 15px 0;
    outline: none;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
}

.form .btn:hover{
    background: #6397b9;
}
